:root {
  --color1: #9356DC;
  --color2: #FF79DA;
  --color3: #99E2D0;
}


/* ------------- NAVBAR -------------- */
.navBar.restau {
    display: flex;
    flex-direction: column;
  }
  
  .navBar.restau .title {
    display: flex;
    flex-direction: row;
    align-items:center;
    height: 60px;
  }
  
    .navBar .title .fa-solid {
    position: absolute;
    left: 40px;
    top: 20px;
    font-size: 20px
  }
  
  .img {
    height: 300px;
    width: 100%;
  }
  .photo {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
  }
  
  #main_restau {
    margin-top: -60px;
    z-index: 100;
    position: relative;
    background-color: #eceeee;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  
  #products_restau {
    padding: 20px;
  }
  
  #main_restau .art1_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  
  #main_restau .art1_title h1 {
    font-family: 'Shrikhand', Courier New, Courier, monospace;
    font-size: 25px;
  }
  
  #main_restau .art1_title i {
    font-size: 20px;
    padding-right: 30px;
  }
  
  #main_restau h2 {
    text-transform: uppercase ;
    font-weight:normal;
    font-size: 18px;
    padding-left: 8px;
    margin-bottom: 0;
  }

  .menu a:hover {
    align-items: center;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--color3);
    width: 60px;
    transform: translate(-51x, 0);
    transition: transform 300ms ease-in-out;
  }
  
#main_restau .underline{
    width: 40px;
    height: 2px;
    background-color: var(--color3);
    margin: 0 0 10px 10px;
    padding: 0;
}
  
  #main_restau ul {
    width: 100%;
    padding-left: 0;
  }
  
  #main_restau .menu1 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 1px 0 1px 0px;
    border-radius: 15px;
    box-shadow: 1.5px 2.5px 8px #1010101b;
  }

  .entree_1 {
    animation: fadein 2s;  
  }

  .entree_2 {
    animation: fadein 2.5s;
  }

  .entree_3 {
    animation: fadein 3s;
  }

  .entree_4 {
    animation: fadein 3.2s;
  }

  .plat_1 {
    animation: fadein 3.5s;
  }

  .plat_2 {
    animation: fadein 4s;
  }

  .plat_3 {
    animation: fadein 4.5s;
  }

  .dessert_1 {
    animation: fadein 5s;
  }

  .dessert_2 {
    animation: fadein 5.5s;
  }

  .dessert_3 {
    animation: fadein 6s
  }

  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

  #main_restau .card2 {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #main_restau .card2 h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px !important;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 15px;
  }
  
  #main_restau .card22 .details {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px !important;
    margin-bottom: 10px;
    margin-top: 2px; 
    margin-left: 15px;
  }

  #main_restau .card22 .prix {
    font-size: 12px !important;
    margin-bottom: 10px;
    margin-top: 2px;
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .menu .card22 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

 div .menu .menu1 .choix {
  width: 0%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-content: flex-end;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: none;
  color: #ffffff;
  background: var(--color3);
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: all 0.5s cubic-bezier(0.1, 0, 0.2, 1);
}

div .menu .fa-circle-check {
  font-size: 20px;
} 

div .menu .menu1:hover .card2 {
  width: 70%;
}

div .menu .menu1:hover .choix {
    white-space: nowrap;
    width: 20%;
    visibility: visible;
    transform: scaleX(1);
  }

  div .menu .menu1:hover .fa-circle-check {
    transform: rotate(360deg);
    transition: transform 700ms;
  }
  
div .art5 {
  display: flex;
  justify-content: center;
}

   #main_restau .art5 .button {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border-style: none;
    cursor: pointer;
    width: 40%;
    background: linear-gradient(#FF79DA, #9356DC);
  }

  #main_restau .art5 .button:hover {
    background: linear-gradient(#ff79d9aa, #9256dcc5);
  }
  
  #main_restau .art5 button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 17px;
  }


  

  @media screen and (min-width: 801px) {
  .art2, .art3, .art4 {
    width: 30%;
  }

  .entreePlatDessert {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .menu1 h3 {
    font-size: 15px !important;
  }

  .menu1 p {
    font-size: 12px !important;
  }

  .art5 .button {
    width: 30% !important;
  }
}