@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

html {
  font-family: 'Roboto', Courier New, Courier, monospace;
}

:root {
  --color1: #9356DC;
  --color2: #FF79DA;
  --color3: #99E2D0;
}



body {
  max-width: 100%;
  list-style: none;
}

body ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
}

div#container {
  width: 100%;
  height: 100%;
  animation-name: opacity;
  animation-duration: 2500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(1, -0.25, 0.93, 0.59);
}

@keyframes opacity {
  0% {
    opacity: 0;
}

100% {
    opacity: 1;
}
}

/* ------------- LOADER -------------- */
#spinner {
  width: 100%;
  height: 100%;
}

.loader {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 2.2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.35, 0.36, 0.72, 0.72);
  animation-fill-mode: forwards;
  position:fixed;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    background-image: linear-gradient(
    -225deg,
    #9356DC 0%,
    #FF79DA 50%,
    #99E2D0 100%
  );
    opacity: 1;
}

50% {
    transform: rotate(360deg);
    background-image: linear-gradient(
    -225deg,
    #9356DC 0%,
    #FF79DA 50%,
    #99E2D0 100%
  );
    opacity: 0.95;
    border-radius: 50%;
}
74% {
    border-radius: 50%;
}
75% {
    transform: rotate(540deg);
    opacity: 0.9;
}
85% {
    border-radius: 50%;
}
100% {
    border-radius: 50%;
    transform: rotate(720deg);
    background-image: linear-gradient(
    -225deg,
    #9356DC 0%,
    #FF79DA 50%,
    #99E2D0 100%
  );
    opacity: 0;
}
}

/*------------header------------*/
header.navBar {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.5rem #58585886;
  z-index: 10;
  position: relative;
}

/*svg*/
#container .navBar .fa-arrow-left {
  visibility: hidden;
}

header.navBar h1 {
  font-family: 'Shrikhand', Courier New, Courier, monospace;
  font-size: 200%;
  margin-top: 20px ;
}

/*------------main------------*/
section.article1 {
  background-color: #f8f5f5;
  display: flex;
  justify-content: center;
}

section .article1_input {
  display: flex;
 flex-direction: row;
 padding-left: 60px;
}

section.article1 i {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 15px;
}

section.article1 input {
  background-color: transparent;
  border: 0;
  color: #000;
  font-weight: bold;
  padding-left: 0;
  font-size: 15px;
}

section.article2 {
  background-color: #fffafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section.article2 h1 {
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  padding: 10px;
}

section.article2 p {
  color: #393939;
  text-align: center;
  font-size: 100%;
  padding: 10px;
}

section.article2 button {
  height: 50px;
  border-radius: 30px;
  border: 0;
  background: linear-gradient(#FF79DA, #9356DC);
}

.article2 button {
  background-color: transparent;
  color: #ffffff !important;
  border: none;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}

section .article2 .button:hover {
  background: linear-gradient(#ff79d9aa, #9256dcc5) !important;
}

section.article3 {
  padding: 40px 30px 40px 30px;
  background-color: white;
}

section.article3 h2 {
  font-weight: bold;
  font-size: 150%;
}

.article3 .fonctionnement {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #fffafa;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.168) 0px 8px 8px;
}

.article3 .numero {
  background-color:#9356DC;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  margin-right: 30px;
  margin-left: -40px;
}

.fonctionnement .tel {
  color: #bbbbbb;
}

.fonctionnement .liste {
  color: #bbbbbb;
}

.fonctionnement .fa-store {
  color: var(--color1);
}

.fonctionnement p {
  padding-left: 20px;
  text-align: center;
}

#article4 {
  background-color: #fffafa;
}

#article4 a {
  display: flex;
  align-items: center;
}

#article4 h2 {
  font-weight: bold;
  font-size: 150%;
  padding: 40px 30px 0 30px;
}

#article4 .article4_restau .card1 {
  width: 90%;
  height: 250px;
  margin: 20px;
  background-color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.168) 0px 8px 8px;
}

#article4 .article4_restau .nouveau, #article4 .article4_restau .nouveau1  {
  color: #008766;
  background: #99E2D0;
  border-radius: 5px;
  padding: 4px;
  width: fit-content;
  position:absolute;
  margin-top: 10px;
  right: 10%;
}

#article4 .article4_restau .img11 {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#article4 .article4_restau .card1Text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#article4 .article4_restau .card1Text .text11 h3 {
  font-weight: bold;
}

.coeurs {
  height: 20px;
  width: 40px;
  border-radius: 0 0 20px 0;
}

.coeurs:hover .fa-regular {
  opacity: 0;
}

.coeurs .fa-regular {
  color: #000000;
}

.coeurs .fa-regular:hover {
  color: transparent;
}

.coeurs :nth-child(2):hover {
  opacity: 1;
  transform: scale(1.05);
}

.coeurs .fa-heart {
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  height: 20px;
  width: 40px;
}

.coeurs .fa-solid {
	background: linear-gradient(0deg, #9356DC 0%, #ff79DA 80%);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  }


/*------------footer------------*/
footer.basDePage {
  position:relative;
  background-color: #393939;
  color: white !important;
  padding: 30px;
}

footer.basDePage h1 {
  font-family: 'Shrikhand', Courier New, Courier, monospace;
  font-size: 25px;
  padding: 0 0 15px 0;
}

footer ul {
  padding-left: 0;
}

footer.basDePage li {
  padding: 5px 0 5px 0;
}

footer .mailto {
  color: #fff !important; 
}


/*-----------size tablet-----------*/
@media screen and (max-width: 1199px) and (min-width: 800px) {
	.article3 .fonctionnement {
		width: 30%;
	}
	.article4_restau .nouveau1 {
		left: 34%;
	}
  }

/*-----------format web-----------*/
@media screen and (min-width: 1200px) {
  body {
    max-width: 100%;
  }

  header.navBar h1 {
    margin-top: 30px ;
  }

  .article3 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .art4_restau {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .art4_restau a {
    width: 45%;
  }

  .article4_restau .nouveau {
    color: #008766;
    background: #99E2D0;
    border-radius: 5px;
    padding: 4px;
    width: fit-content;
    position:absolute;
    right: 8%;
    margin-top: 10px;
  }

  .navBar .title .fa-solid {
    top: 30px !important;
  }

  .basDePage ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #article4 .article4_restau .nouveau1 {
    color: #008766;
    background: #99E2D0;
    border-radius: 5px;
    padding: 4px;
    width: fit-content;
    position:absolute;
    margin-top: 10px;
    left: 38%;
  }

  #article4 .article4_restau .nouveau {
    color: #008766;
    background: #99E2D0;
    border-radius: 5px;
    padding: 4px;
    width: fit-content;
    position:absolute;
    margin-top: 10px;
    right: 8%;
}
}
