body {
    max-width: 599px;
    margin: auto;
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
}

.logo{
    width: 40%;
    padding: 20px; 
}

.restau img{
    width: 100%;
}

footer{
    background-color: black;
}
.footer_liste{
    color: white;
}


/*size tablet*/
@media screen and (max-width: 800px) and (min-width: 600px) {
    body{
        background-color: bisque;
    }
}

/*format web*/
@media screen and (min-width: 801px) {
    body{
        background-color: green;
        max-width: 1280px;
    }
}